@model PismoWebInput.Core.Infrastructure.Models.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<section>
    <div class="text-center"><h1 class="text-danger fw-bold mb-3">Something went wrong!</h1></div>
    <p class="text-danger">@Model?.Message</p>
</section>